
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZhuceShow</title>
</head>
<body>
    <div> 
        <div style="width:100px;height:100px;">
            <table>
                <tr>
                    <td>账号：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
